<div class="container">
  <p class="notice"><%= notice %></p>
  <div class="row"> 
    <div class="col-md-6" id="logo">myteam</div>
        <!-- <%= link_to "Sign Up", new_user_registration_path %> -->
        <!-- <%= link_to "Sign In", new_user_session_path %> -->
    <div class="col-md-6" id= "navbar"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></div>
  </div>
</div>

<div class ="container">
<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Employment</th>
      <th>Role</th>
      <th>LinkedIn</th>
      <th>Facebook</th>
      <th>Twitter</th>
      <th>Team</th>
      <th>CV</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate_avatar(candidate) %></td>
        <td><%= candidate.email %></td>
        <td><%= candidate.first_name %></td>
        <td><%= candidate.last_name %></td>
        <td><%= candidate.company %></td>
        <td><%= candidate_role(candidate)%></td>
        <td><%= candidate_linkedin_url(candidate) %></td>
        <td><%= candidate_facebook_url(candidate) %></td>
        <td><%= candidate_twitter_url(candidate) %></td>
        <td><%= candidate.team %></td>
        <td><%= link_to 'CV', candidate.cv.url, target: '_blank' %></td>
        <td>
          <%= link_to 'More', candidate %><br/>
          <%= link_to 'Edit', edit_candidate_path(candidate) %><br/>
          <%= link_to 'Delete', candidate, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to 'Add New Candidate', new_candidate_path %></p>
</div>