<p id="notice"><%= notice %></p>

<h1>Candidates</h1>

<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Employment</th>
      <th>Role</th>
      <th>LinkedIn</th>
      <th>Facebook</th>
      <th>Twitter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate_avatar(candidate) %></td>
        <td><%= candidate.email %></td>
        <td><%= candidate.enrichment['name']['givenName'] %></td>
        <td><%= candidate.enrichment['name']['familyName'] %></td>
        <td><%= candidate.enrichment %></td>
        <td><%= candidate.enrichment %></td>
        <td><%= candidate_linkedin_url(candidate) %></td>
        <td><%= candidate_facebook_url(candidate) %></td>
        <td><%= candidate_twitter_url(candidate) %></td>
        <td><%= link_to 'Show', candidate %></td>
        <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
        <td><%= link_to 'Destroy', candidate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Candidate', new_candidate_path %>
